<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <form action="/newteam" method="post">
     <p><label for="name">Team Name</label><input type="text" name="name" value="" id="name"></p>
     <p><label for="coach">Team Name</label><input type="text" name="coach" value="" id="coach"></p>
     <p><label for="pg">Team Name</label><input type="text" name="pg" value=""></p>
     <p><label for="sg">Team Name</label><input type="text" name="sg" value=""></p>
     <p><label for="sf">Team Name</label><input type="text" name="sf" value=""></p>
     <p><label for="pf">Team Name</label><input type="text" name="pf" value=""></p>
     <p><label for="c">Team Name</label><input type="text" name="c" value=""></p>
     <input type="submit">
   </form>
 </body>
</html>
